<div class="users_bg">
  <div class="users_contents_wrapper">
    <p id="notice"><%= notice %></p>

    <h1>Profile</h1>

    <p>
      <% if @user.image? %>
        <%= image_tag @user.image.profile.url, class:"profile_image"%>
      <% else %>
        <%= image_tag "default.png", :size => "200x200", class:"profile_image" %>
      <% end %>
    </p>

    <p class="profile_text">
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <% if @user.id == current_user.id %>
      <p class="profile_text">
        <strong>Email:</strong>
        <%= @user.email%>
      </p>
    <% end %>

    <%= link_to 'Edit', edit_user_path(@user), style: "#{'display:none' unless @user.id == current_user.id}", class:"btn btn-secondary" %>
    <br>
    <%= link_to 'Back', request.referrer, class:"btn btn-secondary" %>
    <%= link_to 'Destroy', user_path(@user), method: :delete, style: "#{'display:none' unless @user.id == current_user.id}", class:"btn btn-danger" %>
  </div>
</div>
