<div class="users_bg">
  <div class="users_contents_wrapper">
    <p id="notice"><%= notice %></p>

    <h1>My Profile</h1>

    <p>
      <% if @user.image? %>
        <%= image_tag @user.image.profile.url, class:"profile_image"%>
      <% end %>
    </p>

    <p class="profile_text">
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p class="profile_text">
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <%= link_to 'Edit', edit_user_path(@user), style: "#{'display:none' unless @user.id == current_user.id}", class:"btn btn-secondary" %>
    <br>
    <%= link_to 'Back', request.referrer, class:"btn btn-secondary" %>
  </div>
</div>
