<p id="notice"><%= notice %></p>

<p>
  <% if @user.image? %>
    <%= image_tag @user.image.profile.url %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user), style: "#{'display:none' unless @user.id == current_user.id}" %> |
<%= link_to 'Back', pictures_path %>
