<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= image_tag picture.image.picture_for_index.url %></td>
        <td><%= picture.text %></td>
        <td><%= picture.user.name %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture), style: "#{'display:none' unless picture.user_id == current_user.id}" %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' }, style: "#{'display:none' unless picture.user_id == current_user.id}" %></td>
        <% unless picture.user_id == current_user.id %>
          <% if current_user.favorites.find_by(picture_id: picture.id).present? %>
            <td><%= link_to 'お気に入り解除する', favorite_path(id: current_user.favorites.find_by(picture_id: picture.id).id), method: :delete, class: 'btn btn-danger' %></td>
          <% else %>
            <td><%= link_to 'お気に入りする', favorites_path(picture_id: picture.id), method: :post, class: 'btn btn-primary' %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
